<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Foodsharing app</title>
</head>
<body>
<div align="center" class="alert alert-primary" role="alert">

    <p>Hello, dear user! <br>This is ap app made by elisaveta ardashova, darya denisova and katya dodonova<br></p>
<br> Please, enjoy!</br>

</div>
<br>
    <div align="center">
    <a href="/register">REGISTER</a>
    <br>
    <a href="/add_offer">ADD OFFER</a>
    <br>
    <a href="/search">SEARCH FOR OFFER</a>
    </div>
</body>
</html>