<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodSharing</title>
</head>
<body>

    <div class="container">

        <form class="form" method="get" action="/search">
            <input type="search" name="query" class="form-control">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

    </div>

<div class="mapouter"><div class="gmap_canvas"><iframe width="926" height="941" id="gmap_canvas" src="https://maps.google.com/maps?q=saint-petersburg&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">wordpress themes</a></div><style>.mapouter{text-align:right;height:941px;width:926px;}.gmap_canvas {overflow:hidden;background:none!important;height:941px;width:926px;}</style></div>

</body>
</html>