<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>User page</title>
</head>
<body>
    {% if not user %}
        <div class="alert alert-warning">User not found!</div>
    {% else %}
    <div class="container" align="center">
        <div class="row">
            <div class="col-sm">
                <h1>Hello, {{user.login}}</h1>
                <br><h1>Registration succeed!</h1></br>
                <br><h1>Your user id is {{user.user_id}}</h1></br>
            </div>
        </div>
    </div>
    {% endif %}
</body>
<footer>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/add_offer">Add Offer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/search">Search</a>
  </li>
</ul>
</footer>
</html>