<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Warning</title>
</head>
<body>
<br>
<div align ="center">
    <p>User already exists</p>
<p>Please, choose another login</p>
    </div>
<br>
<div align="center">
    <a href="/register">REGISTER</a>
    </div>

</body>
</html>